{% extends 'base/padre.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock css %}
{% block contenido %}
    <h1 class="text-center mt-5">Panel Administrativo</h1>
    <hr>
    <main>
        <section class="container first-section">
            <div class="row p-2 justify-content-between">
                <article class="col-12 col-sm-6 col-md-4 col-lg-3 item mb-4 mx-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <img src="{% static 'images/disco3.webp' %}" class="img-fluid">
                            </div>
                            <div class="col-8 d-flex align-items-center">
                                <h2>Discos</h2>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-warning col-12 text-white mt-3" href="{% url 'disco' %}">Administrar Discos</a>
                </article>

                <article class="col-12 col-sm-6 col-md-4 col-lg-3 item mb-4 mx-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <img src="{% static 'images/instrumento.webp' %}" class="img-fluid">
                            </div>
                            <div class="col-8 d-flex align-items-center">
                                <h2>Instrumentos</h2>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-warning col-12 text-white mt-3" href="{% url 'instrumento' %}">Administrar Instrumentos</a>
                </article>

                <article class="col-12 col-sm-6 col-md-4 col-lg-3 item mb-4 mx-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <img src="{% static 'images/graficos.png' %}" class="img-fluid">
                            </div>
                            <div class="col-8 d-flex align-items-center">
                                <h2>Graficos</h2>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-warning col-12 text-white mt-3" href="{% url 'grafico' %}">Ver graficos</a>
                </article>

            </div>
            <div class="row p-2 justify-content-between">
                <article class="col-12 col-sm-6 col-md-4 col-lg-3 item mb-4 mx-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <img src="{% static 'images/aprobar.png' %}" class="img-fluid">
                            </div>
                            <div class="col-8 d-flex align-items-center">
                                <h2>Aprobar Productos</h2>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-warning col-12 text-white mt-3" href="aprobar_productos">Administrar</a>
                </article>
            </div>

        </section>

        <hr>
        <h1 class="text-center">Estado de Productos</h1>
        <hr>
        <section class="crud">
            <article class="estado">
                <h2 class="text-center">Discos</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped crud-table" id="discos-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Precio</th>
                                <th>Stock</th>
                                <th>Estado</th>
                                <th>Titulo</th>
                                <th>Sello discográfico</th>
                                <th>Artista</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </article>
        
            <article class="estado">
                <h2 class="text-center">Instrumentos</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped crud-table" id="instrumentos-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Precio</th>
                                <th>Stock</th>
                                <th>Estado</th>
                                <th>Modelo</th>
                                <th>Tipo Instrumento</th>
                                <th>Marca</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </article>
        
            <template id="disco-template">
                <tr>
                    <td class="id"></td>
                    <td class="precio"></td>
                    <td class="stock"></td>
                    <td class="estado"></td>
                    <td class="titulo"></td>
                    <td class="sello"></td>
                    <td class="artista"></td>
                </tr>
            </template>
            <template id="instrumento-template">
                <tr>
                    <td class="id"></td>
                    <td class="precio"></td>
                    <td class="stock"></td>
                    <td class="estado"></td>
                    <td class="modelo"></td>
                    <td class="tipo"></td>
                    <td class="marca"></td>
                </tr>
            </template>
        
        </section>
    </main>

{% endblock contenido %}
{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="{% static 'js/adminScript.js' %}"></script>
{% endblock js %}