{% extends 'base/padre.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/apruebos.css' %}">
{% endblock css %}
{% block contenido %}
<hr>
<main class="mt-5">
    <h1 class="text-center">Sistema de Apruebo</h1>
    <hr>
    <div class="container">
        <section class="crud">
            <article>
                <h2 class="text-center">Productos</h2>
                <h2 class="text-center">Presupuesto: <span id="presupuesto"></span>$ (CLP)</h2>
                <table class="table crud-table" id="table">
                    <thead>
                        <tr>
                            <th>Estado</th>
                            <th>Instrumento / Disco</th>
                            <th>Modelo / Titulo</th>
                            <th>Precio</th>
                            <form action="" class="crud-form">
                                {% csrf_token %}
                                <input type="hidden" name="id">
                            </form>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <template id="template">
                    <tr>
                        <td class="estado"></td>
                        <td class="instrumento-disco"></td>
                        <td class="modelo-titulo"></td>
                        <td class="precio"></td>
                        <td>
                            <button class="btn btn-warning check">Aprobar</button>
                        </td>
                    </tr>
                </template>
            </article>
        </section>
    </div>
</main>
{% endblock contenido %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
<script src="{% static 'js/aprobar_productosScript.js' %}"></script>
{% endblock js %}