{% extends 'base/padre.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/disco.css' %}">
{% endblock css %}
{% block contenido %}
<hr>
<main class="mt-5">
    <h2 class="text-center">Discos</h2>
    <hr>
    <div class="container justify-content-between">
        <div class="row">
            <section class="col-md-4 crud">
                <h2 class="crud-title text-white">Agregar Disco</h2>
                <form action="" class="crud-form">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" name="titulo" class="form-control" placeholder="Titulo" required>
                    </div>
                    <div class="mb-3">
                        <select name="sello" class="form-control" id="sello-select" required>
                            <option value="" disabled selected>Seleccione un Sello Discográfico</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <select name="genero" class="form-control" id="genero-select" required>
                            <option value="" disabled selected>Género Musical</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <select name="artista" class="form-control" id="artista-select" required>
                            <option value="" disabled selected>Artista Compositor</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <select name="tipodisco" class="form-control" id="tipodisco-select" required>
                            <option value="" disabled selected>Tipo Disco</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <input type="date" name="fecha" class="form-control" placeholder="Fecha Lanzamiento" required>
                    </div>
                    <div class="mb-3">
                        <input type="number" name="precio" class="form-control" placeholder="Precio" required>
                    </div>
                    <div class="mb-3">
                        <input type="number" name="stock" class="form-control" placeholder="Stock" required>
                    </div>
                    <input class="btn btn-success w-100" type="submit" value="Enviar">
                    <input type="hidden" name="id">
                    <input type="hidden" name="id_detalle_disco">
                    <input type="hidden" name="id_producto">
                </form>
            </section>
            <div class="col-md-1"></div> <!-- Espacio de separación -->
            <section class="col-md-7 lista mt-3 overflow-auto"> <!-- Clase overflow-auto para el scrollbar -->
                <h2 class="text-center text-white">Lista de Discos</h2>
                <div class="filters">
                    <h4 class="text-center">Filtros</h4>
                    <div class="form-group">
                        <label for="filtroSello">Filtro Sello:</label>
                        <select id="filtroSello" class="form-control">
                            <option value="">Todos los Sellos</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="filtroGenero">Filtro Género:</label>
                        <select id="filtroGenero" class="form-control">
                            <option value="">Todos los géneros</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="filtroArtista">Filtro Artista:</label>
                        <select id="filtroArtista" class="form-control">
                            <option value="">Todos los Artistas</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="filtroTipo">Filtro Tipo de Disco:</label>
                        <select id="filtroTipo" class="form-control">
                            <option value="">Todos los Tipos de Discos</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="filtroAnio">Filtrar por Año de Lanzamiento:</label>
                        <button type="button" id="ascendente" class="btn btn-sm btn-secondary mr-1">Ascendente</button>
                        <button type="button" id="descendente" class="btn btn-sm btn-secondary">Descendente</button>
                    </div>
                </div>
                <table class="table crud-table" id="discos-table">
                    <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Sello Discográfico</th>
                            <th>Género Musical</th>
                            <th>Artista</th>
                            <th>Tipo Disco</th>
                            <th>Fecha Lanzamiento</th>
                            <th>Precio</th>
                            <th>Stock</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <template id="disco-template">
                    <tr>
                        <td class="titulo"></td>
                        <td class="sello"></td>
                        <td class="genero"></td>
                        <td class="artista"></td>
                        <td class="tipodisco"></td>
                        <td class="fecha"></td>
                        <td class="precio"></td>
                        <td class="stock"></td>
                        <td>
                            <button class="btn btn-warning edit">Editar</button>
                            <button class="btn btn-danger delete mt-1"><i class="bi bi-trash"></i>Borrar</button>
                        </td>
                    </tr>
                </template>
            </section>
        </div>
    </div>
</main>

{% endblock contenido %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
<script src="{% static 'js/discoScript.js' %}"></script>
{% endblock js %}
