{% extends 'base/padre.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/instrumento.css' %}">
{% endblock css %}
{% block contenido %}
<main class="mt-5">
    <h1 class="text-center">Instrumentos</h1>
    <hr>
    <div class="container justify-content-between">
        <div class="row">
            <section class="col-md-4 crud">
                <h2 class="crud-title text-white">Agregar Instrumento</h2>
                <form action="" class="crud-form">
                    <div class="mb-3">
                        <input type="text" name="modelo" class="form-control" placeholder="Modelo" required>
                    </div>
                    <div class="mb-3">
                        <select name="tipo_instrumento" class="form-control" id="tipo-instrumento-select" required>
                            <option value="" disabled selected>Seleccione un Tipo de Instrumento</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <select name="marca" class="form-control" id="marca-select" required>
                            <option value="" disabled selected>Marca</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <input type="text" name="descripcion" class="form-control" placeholder="Descripción" required>
                    </div>
                    <div class="mb-3">
                        <input type="number" name="precio" class="form-control" placeholder="Precio" required>
                    </div>
                    <div class="mb-3">
                        <input type="number" name="stock" class="form-control" placeholder="Stock" required>
                    </div>
                    <input class="btn btn-success w-100" type="submit" value="Enviar">
                    <input type="hidden" name="id">
                    <input type="hidden" name="id_detalle_instrumento">
                    <input type="hidden" name="id_producto">
                </form>
            </section>
            <div class="col-md-1"></div> 
            <section class="col-md-7 lista mt-3 overflow-auto">
                <h2 class="text-center text-white">Lista de Instrumentos</h2>
                <table class="table crud-table" id="instrumentos-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Modelo</th>
                            <th>Tipo de Instrumento</th>
                            <th>Marca</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Stock</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <template id="instrumento-template">
                    <tr>
                        <td class="id"></td>
                        <td class="modelo"></td>
                        <td class="tipo_instrumento"></td>
                        <td class="marca"></td>
                        <td class="descripcion"></td>
                        <td class="precio"></td>
                        <td class="stock"></td>
                        <td>
                            <button class="btn btn-warning edit">Editar</button>
                            <button class="btn btn-danger delete mt-1">Borrar</button>
                        </td>
                    </tr>
                </template>
            </section>
        </div>
    </div>
</main>
{% endblock contenido %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
<script src="{% static 'js/instrumentoScript.js' %}"></script>
{% endblock js %}
