{% extends 'base/padre.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}
{% block contenido %}
    <main class="container">
        <section class="row justify-content-center text-center">
            <div class="col-12 area">
                <img src="{% static 'images/logo.png' %}" alt="Galaxy Music Logo" width="100">
                <h1 class="text-center fs-4">Departamento de Análisis de Productos</h1>
            </div>
        </section>
        <section class="row mt-3 justify-content-center">
            <div class="col-12 col-md-6">
                <form action="" method="POST" class="login-form">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <h2>Iniciar Sesión</h2>
                    <div class="form-group">
                        <input type="text" name="username" placeholder="Nombre Usuario" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Contraseña" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
                </form>
            </div>
        </section>
    </main>
{% endblock contenido %}
