body {
    padding: 20px;
}

.crud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    background-color: rgba(49, 49, 49, 0.69);
    border-radius: 10px;
    width: auto;
}

.crud form {
    flex: 1;
    min-width: 100px;
    margin-bottom: 20px;
}

.crud-title {
    margin-bottom: 10px;
}

.table {
    background-color: transparent;
}

.crud-table th,
.crud-table td {
    vertical-align: middle !important;
    background-color: transparent;
    color: white; 
}

.lista {
    background-color: rgba(49, 49, 49, 0.69);
    border-radius: 10px;
    max-height: 500px;
    overflow-y: auto;
}
