body {
    padding: 20px;
}

.crud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    background-color: rgba(49, 49, 49, 0.69);
    border-radius: 10px;
}

.crud form {
    flex: 1;
    min-width: 300px;
    margin-bottom: 20px;
}

.crud-title {
    margin-bottom: 10px;
}


.table{
    background-color: transparent;
}

.crud-table th,
.crud-table td {
    vertical-align: middle !important;
    background-color: transparent;
    color: white; 
}


.lista{
    background-color: rgba(49, 49, 49, 0.69);
    padding: 10px;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: auto; 

}